<a href="https://colab.research.google.com/github/LeoVila27/Intro_Ciencia_de_Dados/blob/master/T1_Leonardo_Vila_Franca_Silva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Leonardo Vila Franca Silva - RA: 20.84109-4

###Importacao de Bibliotecas

In [ ]:
import pandas as pd

###Importacao dos Dados

In [ ]:
df_clientes = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Thiago/T1/olist_customers_dataset.csv')
df_compra_itens = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Thiago/T1/olist_order_items_dataset.csv')
df_compra_pagamentos = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Thiago/T1/olist_order_payments_dataset.csv')
df_reviews = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Thiago/T1/olist_order_reviews_dataset.csv')
df_compras = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Thiago/T1/olist_orders_dataset.csv')
df_produtos = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Thiago/T1/olist_products_dataset.csv')
df_vendedores = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Thiago/T1/olist_sellers_dataset.csv')

##Análises da Página "Pagamentos" do Power BI

1) Qual o principal método de pagamento nos estados ?

2) Qual é metodo de pagamento mais utilizado no Brasil e quais são os 5 estados que mais usam ele ?

3) Quais os metodos de pagamentos das top 5 categorias mais vendidas ?

4) Quais estados tem as parcelas mais altas ? 

A página "Pagamentos" foi a escolhida pois achei a mais inteeressante de fazer, dessa forma seria interessante realizar a comparação dos resultados do Power BI com o Pandas.

###1) Qual o principal método de pagamento nos estados ?

In [ ]:
df_compra_pagamentos.head(5)

                           order_id  ...  payment_value
0  b81ef226f3fe1789b1e8b2acac839d17  ...          99.33
1  a9810da82917af2d9aefd1278f1dcfa0  ...          24.39
2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...          65.71
3  ba78997921bbcdc1373bb41e913ab953  ...         107.78
4  42fdf880ba16b47b59251dd489d4441a  ...         128.45

[5 rows x 5 columns]

In [ ]:
df_compras.head(5)

                           order_id  ... order_estimated_delivery_date
0  e481f51cbdc54678b7cc49136f2d6af7  ...           2017-10-18 00:00:00
1  53cdb2fc8bc7dce0b6741e2150273451  ...           2018-08-13 00:00:00
2  47770eb9100c2d0c44946d9cf07ec65d  ...           2018-09-04 00:00:00
3  949d5b44dbf5de918fe9c16f97b45f8a  ...           2017-12-15 00:00:00
4  ad21c59c0840e6cb83a9ceb5573f8159  ...           2018-02-26 00:00:00

[5 rows x 8 columns]

In [ ]:
df_left = df_compra_pagamentos[['order_id', 'payment_type']]
df_left.head(3)

                           order_id payment_type
0  b81ef226f3fe1789b1e8b2acac839d17  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd  credit_card

In [ ]:
df_right = df_compras[['order_id', 'customer_id']]
df_right.head(3)

                           order_id                       customer_id
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089

In [ ]:
df_pagamento_customer_id = pd.merge(df_left, df_right, how='left', on='order_id')
df_pagamento_customer_id.head()

                           order_id  ...                       customer_id
0  b81ef226f3fe1789b1e8b2acac839d17  ...  0a8556ac6be836b46b3e89920d59291c
1  a9810da82917af2d9aefd1278f1dcfa0  ...  f2c7fc58a9de810828715166c672f10a
2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...  25b14b69de0b6e184ae6fe2755e478f9
3  ba78997921bbcdc1373bb41e913ab953  ...  7a5d8efaaa1081f800628c30d2b0728f
4  42fdf880ba16b47b59251dd489d4441a  ...  15fd6fb8f8312dbb4674e4518d6fa3b3

[5 rows x 3 columns]

In [ ]:
df_clientes.head(5)

                        customer_id  ... customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7  ...             SP
1  18955e83d337fd6b2def6b18a428ac77  ...             SP
2  4e7b3e00288586ebd08712fdd0374a03  ...             SP
3  b2b6027bc5c5109e529d4dc6358b12c3  ...             SP
4  4f2d8ab171c80ec8364f7c12e35b23ad  ...             SP

[5 rows x 5 columns]

In [ ]:
df_right_clientes = df_clientes[['customer_id','customer_city','customer_state']]
df_pagamento_cidade = pd.merge(df_pagamento_customer_id, df_right_clientes, how='left', on='customer_id').reset_index()
df_pagamento_cidade.head()

   index                          order_id  ...  customer_city customer_state
0      0  b81ef226f3fe1789b1e8b2acac839d17  ...  teofilo otoni             MG
1      1  a9810da82917af2d9aefd1278f1dcfa0  ...      sao paulo             SP
2      2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...      sao paulo             SP
3      3  ba78997921bbcdc1373bb41e913ab953  ...   juiz de fora             MG
4      4  42fdf880ba16b47b59251dd489d4441a  ...        conchas             SP

[5 rows x 6 columns]

In [ ]:
df_pagamento_quase=df_pagamento_cidade.groupby(by = ['customer_state', 'payment_type']).count()
df_pagamento_quase.head()

                             index  order_id  customer_id  customer_city
customer_state payment_type
AC             boleto           16        16           16             16
               credit_card      61        61           61             61
               debit_card        2         2            2              2
               voucher           5         5            5              5
AL             boleto           68        68           68             68

In [ ]:
df_Estado_payment=df_pagamento_cidade.groupby(by = ['customer_state', 'payment_type']).nunique()
df_pag_estado = df_Estado_payment.reset_index()
df_pag_estado.head(100)

   customer_state payment_type  index  order_id  customer_id  customer_city
0              AC       boleto     16        16           16              2
1              AC  credit_card     61        61           61              6
2              AC   debit_card      2         2            2              2
3              AC      voucher      5         4            4              2
4              AL       boleto     68        68           68             20
..            ...          ...    ...       ...          ...            ...
95             SE   debit_card      5         5            5              3
96             SE      voucher     17        15           15              3
97             SP       boleto   8205      8205         8205            461
98             SP  credit_card  32168     32074        32074            605
99             SP   debit_card    759       759          759            140

[100 rows x 6 columns]

In [ ]:
!pip install plotly==4.10.0

Collecting plotly==4.10.0
  Downloading https://files.pythonhosted.org/packages/04/20/c2d77eef33dbd40c5e3263a9a8763ffca610a4c3d2b2da21c5601e5fc5d8/plotly-4.10.0-py2.py3-none-any.whl (13.0MB)
     |████████████████████████████████| 13.0MB 4.7MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly==4.10.0) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly==4.10.0) (1.3.3)
Installing collected packages: plotly
  Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed plotly-4.10.0

In [ ]:
import plotly.express as px
fig = px.bar(df_pag_estado, x='customer_state', y="customer_id" ,color='payment_type', barmode='group', title="Principais Métodos de pagamentos nos Estados")
fig.show()

###2) Qual é metodo de pagamento mais utilizado no Brasil e quais são os 5 estados que mais usam ele ?

In [ ]:
df_top_metodos = df_pagamento_cidade.payment_type.value_counts()
df_top_metodos.head()

credit_card    76795
boleto         19784
voucher         5775
debit_card      1529
not_defined        3
Name: payment_type, dtype: int64

Conlui-se que o método de pagamento mais utilizado é o cartao de crédito.

In [ ]:
df_pag_estado = df_pag_estado.sort_values('order_id',ascending=False)
df_pag_estado.head(5)

   customer_state payment_type  index  order_id  customer_id  customer_city
98             SP  credit_card  32168     32074        32074            605
72             RJ  credit_card  10288     10253        10253            142
40             MG  credit_card   9070      9030         9030            674
97             SP       boleto   8205      8205         8205            461
86             RS  credit_card   3985      3967         3967            314

In [ ]:
df_top5_estados = df_pag_estado.groupby(by= ['payment_type','customer_state']).max('order_id')
df_top5_estados

                             index  order_id  customer_id  customer_city
payment_type customer_state
boleto       AC                 16        16           16              2
             AL                 68        68           68             20
             AM                 21        21           21              2
             AP                 20        20           20              4
             BA                614       614          614            175
...                            ...       ...          ...            ...
voucher      RS                248       179          179             69
             SC                155       127          127             58
             SE                 17        15           15              3
             SP               2487      1596         1596            223
             TO                 24        12           12              4

[106 rows x 4 columns]

In [ ]:
df_top5_estados=df_top5_estados.sort_values('payment_type')
df_top5_estados

                             index  order_id  customer_id  customer_city
payment_type customer_state
boleto       AC                 16        16           16              2
             TO                 76        76           76             27
             SP               8205      8205         8205            461
             SE                 75        75           75             17
             SC                840       840          840            166
...                            ...       ...          ...            ...
voucher      AL                 13        10           10              3
             AC                  5         4            4              2
             SP               2487      1596         1596            223
             MS                 31        24           24             11
             TO                 24        12           12              4

[106 rows x 4 columns]

In [ ]:
df_top5_estados = df_top5_estados.sort_values('customer_id',ascending=False)
df_top5_estados.head()

                             index  order_id  customer_id  customer_city
payment_type customer_state
credit_card  SP              32168     32074        32074            605
             RJ              10288     10253        10253            142
             MG               9070      9030         9030            674
boleto       SP               8205      8205         8205            461
credit_card  RS               3985      3967         3967            314

In [ ]:
df_top5 = df_top5_estados.reset_index()
df_top5

    payment_type customer_state  index  order_id  customer_id  customer_city
0    credit_card             SP  32168     32074        32074            605
1    credit_card             RJ  10288     10253        10253            142
2    credit_card             MG   9070      9030         9030            674
3         boleto             SP   8205      8205         8205            461
4    credit_card             RS   3985      3967         3967            314
..           ...            ...    ...       ...          ...            ...
101   debit_card             RO      3         3            3              3
102  not_defined             SP      3         3            3              1
103      voucher             AP      3         3            3              1
104   debit_card             AM      2         2            2              1
105   debit_card             AC      2         2            2              2

[106 rows x 6 columns]

In [ ]:
df_top5 = df_top5[df_top5['payment_type'].str.contains("credit_card")]
df_top5.head()

  payment_type customer_state  index  order_id  customer_id  customer_city
0  credit_card             SP  32168     32074        32074            605
1  credit_card             RJ  10288     10253        10253            142
2  credit_card             MG   9070      9030         9030            674
4  credit_card             RS   3985      3967         3967            314
5  credit_card             PR   3786      3776         3776            323

In [ ]:
fig2 = px.bar(df_top5.head(), x='customer_state', y="customer_id" ,color='payment_type', barmode='group', title="Top 5 estados que mais usam cartão de crédito")
fig2.show()

###3) Quais os metodos de pagamentos das top 5 categorias mais vendidas ?

In [ ]:
df_left3 = df_compra_itens[['order_id','product_id']]
df_left3.head(3)

                           order_id                        product_id
0  00010242fe8c5a6d1ba2dd792cb16214  4244733e06e7ecb4970a6e2683c13e61
1  00018f77f2f0320c557190d7a144bdd3  e5f2d52b802189ee658865ca93d83a8f
2  000229ec398224ef6ca0657da4fc703e  c777355d18b72b67abbeef9df44fd0fd

In [ ]:
df_right3 = df_produtos[['product_id','product_category_name']]
df_right3.head()

                         product_id  product_category_name
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

In [ ]:
df_merge_compras = pd.merge(df_left3, df_right3, how='left', on='product_id')
df_merge_compras.head()

                           order_id  ... product_category_name
0  00010242fe8c5a6d1ba2dd792cb16214  ...            cool_stuff
1  00018f77f2f0320c557190d7a144bdd3  ...              pet_shop
2  000229ec398224ef6ca0657da4fc703e  ...      moveis_decoracao
3  00024acbcdf0a6daa1e931b038114c75  ...            perfumaria
4  00042b26cf59d7ce69dfabb4e55b4fd9  ...    ferramentas_jardim

[5 rows x 3 columns]

In [ ]:
df_right4 = df_compra_pagamentos[['order_id','payment_type']]
df_right4

                                order_id payment_type
0       b81ef226f3fe1789b1e8b2acac839d17  credit_card
1       a9810da82917af2d9aefd1278f1dcfa0  credit_card
2       25e8ea4e93396b6fa0d3dd708e76c1bd  credit_card
3       ba78997921bbcdc1373bb41e913ab953  credit_card
4       42fdf880ba16b47b59251dd489d4441a  credit_card
...                                  ...          ...
103881  0406037ad97740d563a178ecc7a2075c       boleto
103882  7b905861d7c825891d6347454ea7863f  credit_card
103883  32609bbb3dd69b3c066a6860554a77bf  credit_card
103884  b8b61059626efa996a60be9bb9320e10  credit_card
103885  28bbae6599b09d39ca406b747b6632b1       boleto

[103886 rows x 2 columns]

In [ ]:
df_merge_compras = pd.merge(df_merge_compras, df_right4, how='left', on='order_id')
df_merge_compras

                                order_id  ... payment_type
0       00010242fe8c5a6d1ba2dd792cb16214  ...  credit_card
1       00018f77f2f0320c557190d7a144bdd3  ...  credit_card
2       000229ec398224ef6ca0657da4fc703e  ...  credit_card
3       00024acbcdf0a6daa1e931b038114c75  ...  credit_card
4       00042b26cf59d7ce69dfabb4e55b4fd9  ...  credit_card
...                                  ...  ...          ...
117599  fffc94f6ce00a00581880bf54a75a037  ...       boleto
117600  fffcd46ef2263f404302a634eb57f7eb  ...       boleto
117601  fffce4705a9662cd70adb13d4a31832d  ...  credit_card
117602  fffe18544ffabc95dfada21779c9644f  ...  credit_card
117603  fffe41c64501cc87c801fd61db3f6244  ...  credit_card

[117604 rows x 4 columns]

In [ ]:
df_merge_compras_mais_vendidas = df_merge_compras.groupby(by=['product_category_name','payment_type']).nunique()
df_merge_compras_mais_vendidas

                                        order_id  product_id
product_category_name     payment_type
agro_industria_e_comercio boleto              51          22
                          credit_card        125          59
                          debit_card           4           4
                          voucher              6           6
alimentos                 boleto              99          28
...                                          ...         ...
telefonia_fixa            voucher              9           9
utilidades_domesticas     boleto            1044         668
                          credit_card       4613        2005
                          debit_card         102          98
                          voucher            286         262

[270 rows x 2 columns]

In [ ]:
x=df_merge_compras_mais_vendidas.sort_values('order_id',ascending=False)
x=x.head(5)

In [ ]:
x=x.reset_index()
x

    product_category_name payment_type  order_id  product_id
0         cama_mesa_banho  credit_card      7540        2687
1            beleza_saude  credit_card      6874        2168
2           esporte_lazer  credit_card      5904        2492
3        moveis_decoracao  credit_card      4919        2217
4  informatica_acessorios  credit_card      4737        1329

In [ ]:
fig3 = px.bar(x, x='product_category_name', y="order_id" ,color='payment_type', barmode='group', title="Top 5 categorias mais vendidas e seu principal meio de pagamento")
fig3.show()

###4) Quais estados tem as parcelas mais altas ?

In [ ]:
df_compra_pagamentos.head()

                           order_id  ...  payment_value
0  b81ef226f3fe1789b1e8b2acac839d17  ...          99.33
1  a9810da82917af2d9aefd1278f1dcfa0  ...          24.39
2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...          65.71
3  ba78997921bbcdc1373bb41e913ab953  ...         107.78
4  42fdf880ba16b47b59251dd489d4441a  ...         128.45

[5 rows x 5 columns]

In [ ]:
df_left5 = df_compra_pagamentos[['order_id', 'payment_installments']]
df_left5.head(3)

                           order_id  payment_installments
0  b81ef226f3fe1789b1e8b2acac839d17                     8
1  a9810da82917af2d9aefd1278f1dcfa0                     1
2  25e8ea4e93396b6fa0d3dd708e76c1bd                     1

In [ ]:
df_right5 = df_compras[['order_id', 'customer_id']]
df_right5.head(3)

                           order_id                       customer_id
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089

In [ ]:
z = pd.merge(df_left5, df_right5, how='left', on='order_id')
z.head()

                           order_id  ...                       customer_id
0  b81ef226f3fe1789b1e8b2acac839d17  ...  0a8556ac6be836b46b3e89920d59291c
1  a9810da82917af2d9aefd1278f1dcfa0  ...  f2c7fc58a9de810828715166c672f10a
2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...  25b14b69de0b6e184ae6fe2755e478f9
3  ba78997921bbcdc1373bb41e913ab953  ...  7a5d8efaaa1081f800628c30d2b0728f
4  42fdf880ba16b47b59251dd489d4441a  ...  15fd6fb8f8312dbb4674e4518d6fa3b3

[5 rows x 3 columns]

In [ ]:
df_clientes.head(5)

                        customer_id  ... customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7  ...             SP
1  18955e83d337fd6b2def6b18a428ac77  ...             SP
2  4e7b3e00288586ebd08712fdd0374a03  ...             SP
3  b2b6027bc5c5109e529d4dc6358b12c3  ...             SP
4  4f2d8ab171c80ec8364f7c12e35b23ad  ...             SP

[5 rows x 5 columns]

In [ ]:
df_right6 = df_clientes[['customer_id','customer_state']]
df_parcelas = pd.merge(z, df_right6, how='left', on='customer_id')
df_parcelas = df_parcelas[['payment_installments','customer_state']]
df_parcelas.head()

   payment_installments customer_state
0                     8             MG
1                     1             SP
2                     1             SP
3                     8             MG
4                     2             SP

In [ ]:
df_parcelas_group=df_parcelas.groupby(by='customer_state').nunique()
df_parcelas_group.head()

                payment_installments
customer_state
AC                                 9
AL                                12
AM                                10
AP                                 8
BA                                19

In [ ]:
  
df_parcelas_group = df_parcelas_group.groupby(by='customer_state').max('payment_installments')
df_parcelas_group=df_parcelas_group.reset_index()
df_parcelas_group.head()

  customer_state  payment_installments
0             AC                     9
1             AL                    12
2             AM                    10
3             AP                     8
4             BA                    19

In [ ]:
df_parcelas_group2=df_parcelas_group.sort_values('payment_installments',ascending=False)
df_parcelas_group2=df_parcelas_group2.reset_index()
df_parcelas_group2=df_parcelas_group2.head(5)
df_parcelas_group2

   index customer_state  payment_installments
0     25             SP                    23
1     18             RJ                    20
2      4             BA                    19
3     10             MG                    18
4     22             RS                    17

In [ ]:
fig4 = px.bar(df_parcelas_group2, x='customer_state', y="payment_installments" , title="Top 5 Estados que tiveram a parcela mais alta")
fig4.show()

#Conclusão:

Após ter realizado a análise descritiva dos dados tanto pelo power bi como pelo pandas, pude perceber que pelo o Power Bi os resultados foram alcançados mais rápidos e de formas mais simples, além da personalização dos gráficos e escolha de quais dados usar. Porém pelo pandas, apesar de exigir um certo nivel de programação e dominio da linguagem, é possivel manipular mais a fundo os dados de forma melhor e mais seletiva.